*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-size: larger;
}
h4{
    margin-top :10px;
    font-style: oblique;
}
.square-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 5px;
    border : 2px solid black;
    padding : 5px;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
    width : 60px;
    height : 60px;
    background-color: white;
    border: 1px solid black;
}
.others{
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 35%;
    width: fit-content;
    padding : 10px;
    border: 2px solid blue ;
}
.score-card{
    display: flex;
    gap : 10px;
    padding : 3px;
}
.score{
    max-width: 20px;
}
